@import '../base';

body
  margin: 0
  padding: 0
  background: #222

#grid
  position: absolute
  top: 0
  left: 0
  width: 100%

  .image
    width: 20%
    display: inline-block
    position: relative

    &:hover
      .image-avatar
        opacity: 1

  .image-img
    width: 100%

  .image-avatar
    position: absolute
    top: 5px
    right: 5px
    width: 32px
    border: 1px solid #000
    opacity: 0
    transition: opacity 0.2s


@media screen and (max-width: 1200px)
  #grid .image
    width: 25%

@media screen and (max-width: 800px)
  #grid .image
    width: 33.33%

@media screen and (max-width: 500px)
  #grid .image
    width: 50%

@media screen and (max-width: 400px)
  #grid .image
    width: 100%