@import '../base';

body
  margin: 0
  padding: 0
  background: #222

#grid
  position: absolute
  top: 0
  left: 0

  img
    width: 20%
    display: inline-block


@media screen and (max-width: 1200px)
  #grid img
    width: 25%

@media screen and (max-width: 800px)
  #grid img
    width: 33.33%

@media screen and (max-width: 500px)
  #grid img
    width: 50%

@media screen and (max-width: 300px)
  #grid img
    width: 100%